.label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.root {
    -fx-background-image: url("images/stars_background.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.button:hover {
    -fx-font-size: 28px;
}

.game-header {
    -fx-font-size: 70px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-padding: 20px;
}

.menu-item {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}